<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Busca de Usuários</title>
</head>
<body>
    <h1>Busca de Usuários</h1>
    <form action="/search" method="post">
        <input type="text" name="search_query" placeholder="Digite o nome">
        <input type="submit" value="Buscar">
    </form>
    <form action="/searchall" method="post">
        <input type="submit" value="Listar Todos os Médicos">
    </form>
    <form action="/list_consultas_paciente_medico" method="get">
        <input type="submit" value="Listar Consultas (Diego Pituca com Dr. House)">
    </form>
    <form action="/list_medicos_uma_especialidade" method="get">
        <input type="submit" value="Listar Médicos (Dermatologia)">
    </form>
    <form action="/list_medicos_todas_especialidades" method="get">
        <input type="submit" value="Listar Médicos (Todas Especialidades)">
    </form>
    <form action="/list_pacientes_medico_especialidade"
