<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Busca de Usuários</title>
</head>
<body>
    <h1>Busca de Usuários</h1>
    <form action="/search" method="post">
        <input type="text" name="search_query" placeholder="Digite o nome">
        <input type="submit" value="Buscar">
    </form>

    <!-- Formulário para buscar todos os médicos -->
    <form action="/searchall" method="post">
        <input type="hidden" name="search_query" value="all">
        <input type="submit" value="Mostrar Todos">
    </form>

    {% if results %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Percentual</th>
                </tr>
            </thead>
            <tbody>
                {% for medico in results %}
                    <tr>
                        <td>{{ medico[0] }}</td>
                        <td>{{ medico[1] }}</td>
                        <td>{{ medico[2] }}</td>
                        <td>{{ medico[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>
